.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg);
  box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;      
  justify-content: center;  
  text-align: center;
}
